<div th:insert="header.html">...</div>
<div th:insert="sidebar.html">...</div>


<main id="main" class="main">

    <div class="pagetitle">
        <h1 class="text-center">All Country</h1>

    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-md-10 offset-1">

                <div class="card">

                    <div class="card-body mt-3">
                        <form th:action="@{/country_save}" th:object="${cnt}" method="post">
                            <input type="hidden" th:field="*{cntId}">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:field="*{cntName}"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Department Code</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:field="*{cntShortCode}"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 text-center">
                                    <button th:if="${cntId!=null}" type="submit" class="btn btn-primary">Update</button>
                                    <button th:if="${cntId==null}" type="submit" class="btn btn-primary">Submit</button>

                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="card-body">

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Country Name</th>
                                <th scope="col">Country Short Name</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ct : ${viewCountry}">
                                <td th:text="${ct.cntId}"></td>
                                <td th:text="${ct.cntName}"></td>
                                <td th:text="${ct.cntShortCode}"></td>

                                <td>
                                    <a th:href="@{'/country_delete/'+${ct.cntId}}" class="btn btn-danger">Delete</a>
                                    <a th:href="@{'/country_update/'+${ct.cntId}}" class="btn btn-warning">Edit</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>

            </div>

        </div>
    </section>

</main><!-- End #main -->

<div th:insert="footer.html">...</div>

